.client__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid;
  margin: 5px 0;
  background: lavender;
}


.client__Ñell {
  padding: 5px 10px;

}
div >a {
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  width: 220px;
  color: whitesmoke;
  background: green;
}

div >a:hover {

  color: whitesmoke;
  background: lime;

}
