.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background: darkgrey;

}

.Auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.Auth  h1 {
  color: bisque;
  text-align: center;
}

.AuthForm {
  background: aqua;
  box-shadow: 2px 2px  2px 2px rgba(0, 0, 0, .5);
  padding: 15px;
  border-radius: 5px;
  max-width: 300px;
}

input, label, select, button {
  display: block;
  margin: 6px;
  color: darkblue;

}
